<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Permissões para acessar a localização -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="CirculAPP"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App">

        <!-- Atividade para Aluno -->
        <activity
            android:name=".AlunoActivity"
            android:exported="false" />

        <!-- Chave da API do Google Maps (substitua pela sua chave) -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBZiMmL1UTaRXTIqE07w0YsV1bOoJ1i_KE" />

        <!-- Atividade para o Maps -->
        <activity
            android:name=".MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps" />

        <!-- MainActivity, ponto de entrada do app -->
        <activity
            android:name=".MainActivity"
            android:exported="true">  <!-- Ativar para ser a Activity principal -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
